<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <title>PDF Margin Maker</title>
    <script src="https://mozilla.github.io/pdf.js/build/pdf.js"></script>
    <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='script.js') }}" defer></script>
</head>
<body>
    <p id="author">⋆˚࿔ Vonni 𝜗𝜚˚⋆</p>
    <div class="container">
        <h1>⊹ ࣪ ˖ PDF Margin Maker ⊹ ࣪ ˖</h1>
        <form id="upload-form" action="/upload" method="post" enctype="multipart/form-data">
            <label class="upload-label">
                選擇 PDF
                <input type="file" name="file" id="file-input" accept=".pdf" required>
            </label>
            <div class="file-info" id="file-name">尚未選擇檔案</div>
            <div class="label-container">
                <span class="label">Margin Width：</span>
                <div class="custom-dropdown">
                    <input type="text" id="custom-input" class="dropdown-input">
                    <div id="dropdown-list" class="dropdown-list">
                        <div>200</div>
                        <div>300</div>
                        <div>400</div>
                        <div>500</div>
                        <div>600</div>
                    </div>
                </div>
            </div>            

            <div class="checkbox-container">
                <input type="checkbox" name="use_grid" id="use_grid">
                <label for="use_grid">使用點狀紙作為背景</label>
            </div>
            <canvas id="pdf-preview" class="pdf-preview" style="display: none;"></canvas>
            <button type="submit" id="upload-button">上傳並處理</button>
        </form>
    </div>
</body>
</html>